h2 { /* н2 и а для установки заголовка и ссылки на главную по разные стороны странцы*/
    display: inline;
}
a{
    float: right;
}

.show-posts { /* кнопка выводящая посты юзера */
    width: 90vw;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.users {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.user{ /*index.html - всі блоки з user - по 2 в рядок. кнопки/аосилвння розташувати під інформацією про user */
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid grey;
    width: 40vw;
    font-size: 25px;
}

.posts-list{ /* user-details.html - блоки з короткою іфною про post - в ряд по 5 */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}
.post-block{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    box-sizing: border-box;
    width: 17vw;
    height: 130px;
}
.comments{ /* post-details.html - блок з інфою про пост зверху. Коментарі - по 4 в ряд */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}
.comments>div{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    box-sizing: border-box;
    width: 23vw;
}